body{
	background-image: url(../../images/wall.png);
	/* background-size: 1600px 1000px; */
	background-size: cover;
}
.menu{
	list-style: none;
	height: 90px;
	/*padding: 5px 5px;*/
	margin: 0;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.menu li{
	float: left;
	position: relative;
	margin: 30px 20px 50px 50px;
	padding: 0 30px;
}
.menu li a{
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding: 7px 8px;
	margin: 0;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.menu li:hover >a{
	color: white;
}
.menu .logo img{
	border-radius: 100%;
	display:block;
	width: 50px;
	height: 50px;
	margin-top: -15px;
	margin-left: 60px;
}
.menu .last{
	margin-right: 110px;
}
#wrapper{
	max-width: 68rem;
	margin: 3rem auto;
	display: block;
}
#header{
	text-align: center;
	/*padding-top: 2rem;*/
	padding-left: 1rem;
	padding-bottom: 2rem;
}
#header h1{
	font-size:1.5rem;
	color:rgba(0, 0, 0, 0.7);
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;/*google fonts*/
	margin-bottom: 3rem;
	line-height: 2.3rem;
}
#header h1 strong{
	color: black;
	font-weight: bold;
}

#main .thumbnails {
	display: flex;
}
#main .thumbnails a{
	margin-bottom: 3rem;
	display: block;
}
#main .thumbnails>div{
	flex-grow: 1;
	margin-right: 1rem;
	margin-left: 1rem;
}
#main .thumbnails img{
	width:100%;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	display:block;
}
#main .thumbnails h3{
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	padding: 1rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	color:black;
	font-size: 0.8rem;
	font-weight:200;
}
#footer{
	text-align: center;
	color:rgba(0, 0, 0, 0.5);
	font-weight: 200;
	padding-bottom: 3rem;
	font-size: 0.8rem;
}
#footer a{
	color:rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
#footer:before{
	content:'';
	display: block;
	margin: 2rem auto;
	width: 40rem;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}
@media(max-width: 480px){
	#main .thumbnails {
	display: block;
	}
}
#footer ul.icons li{
	display: inline-block;
	border-radius: 100%;
	border:1px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(0, 0, 0, 0.05);
	width: 1.5rem;
	height: 1.5rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right:1rem;
	margin-top: 1rem;
}
#footer ul.icons li:hover{
	border:1px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.3);
}
#footer ul.icons li a{
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
#footer ul.icons li .label{
	display: none;
}
