body{
	background-image: url(../../images/space.png);
	/* height: 1080px; */
	background-size: 1535px 750px;
}
.menu{
	list-style: none;
	height: 90px;
	margin: 0;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.menu li{
	float: left;
	position: relative;
	margin: 30px 20px 50px 50px;
	padding: 0 30px;
}
.menu li a{
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding: 7px 8px;
	margin: 0;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.menu li:hover >a{
	color: white;
}
.menu .logo img{
	border-radius: 100%;
	display:block;
	width: 50px;
	height: 50px;
	margin-top: -15px;
	margin-left: 60px;
}

.menu .last{
	margin-right: 125px;
}
#wrapper{
	max-width: 68rem;
	margin: 3rem auto;
	display: block;
}

#main img{
	display: block;
	width: 500px;
	height: 500px;
	margin-left: 350px;
	margin-top: 250px;
	height: auto;
	max-width: 100%;
}
#main div{
	flex-grow: 1;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin-right: 13rem;
	margin-top: -2.5rem;
	color:rgba(0, 0, 0, 0.7);
	font-family:'Times New Roman';
}
#footer{
	bottom: 0;
	position: absolute;
	text-align: center;
	color:rgba(0, 0, 0, 0.5);
	font-weight: 200;
	padding-bottom: 1rem;
	font-size: 0.8rem;
	left:50%;
	transform:translateX(-50%);
}

#footer a{
	color:rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

#footer ul.icons li{
	display: inline-block;
	border-radius: 100%;
	border:1px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(0, 0, 0, 0.05);
	width: 1.5rem;
	height: 1.5rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right:1rem;
	margin-top: 1rem;
}

#footer ul.icons li:hover{
	border:1px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.3);
}

#footer ul.icons li .label{
	display: none;
}
